* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 1140px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

#logotipo {
    float: left;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu {
    text-align: center;
    float: left;
    width: 90%;
}

#menu ul {
    width: 100%;
    margin-top: 40px;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a{
    text-decoration: none;
    color: #333333;
    margin-left: 20px;
    margin-right: 20px;
}